/* Base CSS */

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

a:focus {
    outline: 0 solid
}

img {
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
    font-weight: 400;
}

body {
    font-family: font-family: 'Playfair Display', serif;
}

a:hover {
    text-decoration: none
}

.site-logo {
    padding: 50px 0;
}


.site-menu ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-menu ul li {
    display: inline-block;
    padding-left: 70px;
}

.site-menu ul li a {
    font-size: 14px;
    color: #8D8D8C;
    text-transform: uppercase;
    display: block;
    padding: 60px 0;
}


/*slider part css*/

.slider-img img {
    width: 100%;
}


/*blog content area css*/

.blog-content-area {
    padding: 70px 0;
}

.blog-meta {
    color: #D0D1CB;
    text-transform: uppercase;
    font-family: 'Ubuntu Condensed', sans-serif;
}

.blog-content h2 {
    color: #767675;
    text-transform: capitalize;
}

.blog-content p {
    color: #767675;
    font-size: 14px;
    line-height: 1.7;
}

.meta {
    margin-top: 30px;
}

/*blog img part css*/

.img-meta {
    color: #ddd;
    font-size: 15px;
    margin: 20px 0;
    text-transform: uppercase;
}

.blog-img-content h2 {
    color: #696968;
}

.blog-img-content p {
    font-size: 15px;
    color: #696968;
}

.bg-1 {
    margin-top: 70px;
}


/*sign up part css*/

.sign-area {
    background: #ddd;
    padding: 70px 0;
    margin-top: 70px;
    text-align: center;
}

.sign-area h2 {
    color: #696968;
    margin-bottom: 50px;
}

.sign-area form {
    max-width: 340px;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}

.sign-area form input {
    background: #ddd;
    border: none;
    padding: 10px;
    font-size: 14px;
}

.sign-area form input:focus {
    outline: 0;
}

.sign-area form i {
    font-size: 18px;
    padding: 10px;
}


/*blog img area 2*/

.blog-img-area-2 {
    margin: 70px 0;
}

.blog-img-area-2 .blog-btn {
    text-align: center;
    margin-top: 30px;
}

.blog-img-area-2 .blog-btn a {
    padding: 10px 25px;
    border: 1px solid #333;
    color: #D2D2D2;
    font-size: 16px;
    font-weight: bold;
}


/*footer css*/

.footer-area {
    background: #ddd;
    padding: 50px 0;
}

.footer-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-area ul li {
    display: inline-block;
    padding-left: 10px;
}

.footer-area ul li a {
    color: #000;
}

.footer-icon i {
    color: #000;
    padding-right: 10px;
    font-size: 16px;
}

.footer-icon span {
    color: #000;
    padding-right: 10px;
    font-size: 16px;
}
